*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: auto;
    margin-top: 300px;
}
.slide-box{
    width: 500px;
    height: 15px;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    position: relative;
}
.slider{
    width: 7px;
    height: 30px;
    background-color: blue;
    margin: auto;
    position: absolute;
    cursor: pointer;
    margin-top: -7px;
    margin-left: 7px;
    border-radius: 100px;

}
